.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.header {
    text-align: center;
    padding: 10px;
}

.screen {
    width: 50%;
    margin: 0 auto;
    border-top: 20px solid grey;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    padding: 2px;
}

.legend {}

.row-inner {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.seat-row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 3px;
    margin-right: 20px;
    font-weight: bold;
}

.seat-available {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    font-size: 11px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.seat-occupied {
    display: inline-block;
    background-color: #B8B8B8;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 3px;
    font-size: 11px;
    width: 27px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

.seat-selected {
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    font-size: 11px;
    width: 27px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

.ticket-details {
    display: inline-block;
    border-radius: 40px;
    padding: 5px;
    margin: 3px;
    width: 30%;
    font-size: 25px;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    text-align: center;
    color: white;
    box-shadow: 5px 5px 10px;
}

button {
    /* Green */
    border: 2px solid;
    color: black;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial Narrow, sans-serif;
    width: 70%;
    border-image-slice: 1;
    border-image-source: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    background-color: white;
    margin: 10px;
}

button:hover:enabled {
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%);
    /* Green */
    color: white;
}

button:disabled,
button[disabled] {
    border: 2px solid;
    background-color: #cccccc;
    color: white;
    font-weight: bold;
    /* border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
}

input {
    width: 50%;
    padding: 10px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 28%;
    margin: auto;
    background: white;
    text-align: center;
    padding: 20px;
}

img {
    width: 20%;
}